.order_manager {
  margin-bottom: 20px;
  margin-left: 20px;
}
#modal-modal-title {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.btn_new_order {
  margin-right: 15px;
  position: relative;
  top: 0;
  left: 0;
  .new_quantity_oder {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    background-color: rgb(232, 214, 20);
    border-radius: 50%;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn_select_order {
  select {
    padding: 7px 5px;
    color: #1984d8;
    font-weight: 500;
    border-color: #bdbcbc;
    border-radius: 5px;
    outline: none;
  }
}
.order_table {
  td {
    height: 85px;
  }
  // button {
  //   margin-left: 15px;
  // }
}
.order_table th:nth-child(2),
.order_table td:nth-child(2),
.order_table th:nth-child(3),
.order_table td:nth-child(3) {
  width: 200px !important;
}
.order_table th:nth-child(4),
.order_table td:nth-child(4) {
  width: 400px !important;
}

.modal_title {
  font-weight: 600;
  margin-bottom: 10px !important;
}
.modal-header-text {
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.ModalDetailOrder {
  position: relative;
  .confirm {
    max-width: 250px;
    top: -23px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
.btn-confirm-order {
  margin-top: 20px !important;
  padding: 10px 0 !important;
  margin-left: 15px !important;
  max-height: 45px;
}
.table_container {
  max-height: 200px !important;
  overflow-y: auto;
}
.reason-error {
  color: rgb(222, 22, 22);
}
.btn-order {
  padding: 0;
  button {
    margin: 0 !important;
  }
}
