.modal__cart-table {
  max-height: none !important;
  /* overflow: visible; */
}
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 30px;
}
th {
  padding: 15px 0 !important;
}
.modal__total-money {
  padding-top: 8px;
}
.modal__btn-close {
  display: none;
}

.btn-update-to-cart {
  display: block;
}
.cart-empty {
  border: none;
  padding-bottom: 40px;
}
/* modal */
.modal {
  align-items: initial;
}
.modal .container {
  margin-top: 60px;
}
.modal__container {
  width: auto;
}
.modal .container > .row {
  justify-content: center;
}
.modal .container .row {
  --bs-gutter-x: 0;
}

.modal__container {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}
.modal__header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-weight: 600;
}
.modal__header i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header p span:first-child,
.headerQuantity {
  margin-left: 4px;
}
.quantityProductOfCart {
  margin-left: 0 !important;
}
.modal__header p {
  display: flex;
}
.modal_content {
  width: 100%;
}
.modal__cart-table {
  max-height: 70vh !important;
  overflow-y: auto;
  width: calc(100% - 3px);
}
.modal__cart-table::-webkit-scrollbar,
.modal__mobile-cart::-webkit-scrollbar {
  width: 6px;
}
.modal__cart-table::-webkit-scrollbar-track,
.modal__mobile-cart::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.7);
  background-color: #c4c4c4;
  /* màu nền không gian trống bên dưới thanh tiến trình.*/
}
.modal__cart-table::-webkit-scrollbar-thumb,
.modal__mobile-cart::-webkit-scrollbar-thumb {
  /* màu nền phần tử cuộn */
  background-color: rgb(29, 29, 29);
  outline: 1px solid slategrey;
}
.modal__cart-table {
}
table {
  width: 100%;
  font-size: 14px;
}
table thead,
tbody tr {
  border: 0.5px solid #e0dede;
  border-left-color: #fff;
  border-right-color: #fff;
}
table th {
}
td,
th {
  padding: 5px !important;
}
td {
  vertical-align: middle;
}

.modal__cart-table {
  th,
  td {
    width: 100px;
  }
}

.product__name,
.product__price,
.product-money,
.product__priceTotalItem {
  font-weight: 500;
  color: #000;
}
.product__size {
  font-size: 12px;
}
.product__quantity {
  width: 100%;
  padding: 8px 10px;
}
.product__quantity-mobile {
  margin-top: 7px;
}
tr td:nth-child(4) {
  position: relative;
  text-align: center !important;
}

tr td:nth-child(4) input {
  border: 1px solid #cecaca;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}
tr th:nth-child(2),
tr td:nth-child(2) {
  width: 280px;
}
tr th:nth-child(4),
tr td:nth-child(4) {
  width: 160px;
}
.cart-remove {
  cursor: pointer;
  color: #000;
}
.cart-remove:hover {
  color: #fbb416;
}

.modal__checkout-actions {
  padding: 15px;
  width: 100%;
}
.modal__cart-note {
  padding: 8px 10px;
}
.textarea-note {
  width: 100%;
  min-height: 100px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  padding: 8px 10px;
}
.modal__btn-close {
  padding-left: 10px;
  cursor: pointer;
  display: inline-block;
}
.modal__btn-close i[class="fa fa-times"] {
  padding: 5px 10px;
  font-size: 18px;
}
.modal__btn-close:hover,
.modal__btn-close:hover i {
  color: #fbb416;
}
.modal__btn-close i {
  color: #000;
}
.modal__checkout-actions-right {
  padding-left: 30px;
}

.modal__total-money {
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #000000;
}
.modal__btn-checkout {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.btn-update-to-cart {
  padding: 12px 10px;
  background: #e6e6e6;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  cursor: pointer;
  transition: linear 0.2s;
}
.btn-update-to-cart:hover {
  background-color: #000;
  color: #fff;
}
.btn-buys {
  padding: 12px 10px;
  color: #fff !important;
  background: #000;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: linear 0.2s;
}
.btn-buys:hover {
  background: #e6e6e6;
  color: #000 !important;
}

.cart-empty {
  width: 100% !important;
  padding-left: 30px;
}
.cart-empty p {
  margin: 5px 0;
}
.cart-empty a {
  margin: 4px;
  color: #da9804;
  font-weight: 500;
}

/* modal mobile */
.mobile-cart-remove {
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}
.mobile-cart-remove:hover {
  color: #da9804;
}
.product__cart-mobile {
  display: none;
}
.headerMobileQuantity {
  display: none;
}
/* responsive */
@media (min-width: 1024px) {
  .featured-products__item {
    margin-bottom: 0;
    padding: 12px;
  }
}
@media (max-width: 1023px) {
  .featured-products__item {
    margin-bottom: 0;
    padding: 8px;
  }
  .a-left {
    left: 10px;
  }
  .a-right {
    right: 10px;
  }
}
@media (max-width: 767px) {
  .detailProduct > .container > .row {
    flex-direction: column;
  }
  .detailProduct__image-left img {
    max-height: unset;
  }
  .detailProduct__info {
    margin-top: 30px;
    padding-left: 0;
  }

  .modal__checkout-actions {
    background-color: #fff;
  }
  .product__name {
    margin: 10px 0 5px;
  }
  .modal__mobile-cart .image {
    padding: 10px;
  }
  // .btn-update-to-cart {
  //   display: none;
  // }
  .headerQuantity {
    display: none;
  }
  .headerMobileQuantity {
    display: block;
    margin-left: 5px;
  }
  .modal__cart-table {
    tr th:nth-child(3),
    tr th:nth-child(4),
    tr th:nth-child(5),
    tr th:nth-child(6),
    tr td:nth-child(3),
    tr td:nth-child(4),
    tr td:nth-child(5),
    tr td:nth-child(6),
    .product__size-name {
      display: none;
    }
    .product__cart-mobile {
      display: block;
    }
  }
}

@media (max-width: 1023px) {
  .modal__checkout-actions {
    padding-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .modal__checkout-actions {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .modal__cart-note {
    padding-left: 0;
    padding-right: 0;
  }
  .modal__checkout-actions > div {
    padding-right: 0;
  }
}
