.link-alert {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
  display: block;
  background-color: aliceblue;
}
.alert {
  width: 240px;
  position: fixed;
  top: 110px;
  right: -240px;
  z-index: 100;
  opacity: 0;
  transition: all 0.4s ease;
}
.active-alert {
  right: 15px;
  opacity: 1;
}
