@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Vast+Shadow&display=swap");
:root {
  --bs-secondary: #f6f6f6;
  --animate-delay: 0.5s;
}
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
html {
  scroll-behavior: inherit !important;
  color: #333;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
input {
  outline: none;
  display: block;
}
img {
  max-width: 100%;
  display: block;
  margin: 0;
}
a {
  text-decoration: none !important;
  color: unset !important;
}
a:hover {
  color: unset;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
