// Admin page css
.Admin__page__css {
  color: #000;
}
.notify_admin {
  user-select: none;
  position: relative;
  top: 0;
  color: #fff !important;
  .notify_icon {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 99;
    padding: 5px;
  }
  .notify_show {
    position: absolute;
    top: -2px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: rgb(232, 214, 20);
    border-radius: 50%;
  }

  .menu_notify {
    display: none;
    width: 300px;
    > p {
      padding: 20px 0;
      text-align: center;
    }
    position: absolute;
    top: 100%;
    right: -20px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    z-index: 20;

    .notify-menu {
      background-color: rgb(247, 246, 246);
      min-height: 150px;
      padding: 0 20px;

      .notify-item {
        padding: 20px 0;
      }
      ::before {
        content: "";
        position: absolute;
        top: -17px;
        right: 15px;
        border-width: 10px 15px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
      }
      .notify_quantity {
        margin: 0 10px;
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
}

.menu-notify-show {
  display: block !important;
  transform-origin: calc(100% - 30px) top;
  animation: header__notify-growth ease-in 0.2s;
  will-change: opacity, transform;
}
.header-admin {
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: rgb(83, 82, 82);
  span {
    color: rgb(232, 214, 20);
  }
}
.Info_login {
  padding: 200px 0px;
  text-align: center;
}
.btn_log-out {
  color: rgb(255, 255, 255) !important;
  margin-left: 20px;
  cursor: pointer;
}
.btn_login {
  margin-top: 30px;
  display: block;
  color: rgb(35, 12, 181) !important;
}
.admin-content {
  .row {
    width: 100%;
  }

  display: flex;
  justify-content: center;

  margin-top: 40px;
  button {
    min-width: 60px;
    border-color: #ccc !important;
  }
}
.header-admin {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.admin-menu {
  margin-bottom: 40px;
  li {
    padding: 20px;
    border-bottom: dashed 1px rgb(142, 139, 139);
  }
  li:nth-child(2):hover,
  li:nth-child(3):hover,
  li:nth-child(4):hover,
  .tab-menu-active {
    color: rgb(232, 214, 20) !important;
    cursor: pointer;
  }
  > li:first-child {
    border-bottom: none;
    color: #fff;
    background-color: rgb(73, 73, 73);
    font-size: 20px;
  }
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px rgb(142, 139, 139);
}
.menu-parent-admin {
  width: 100%;
  cursor: pointer;
  li:first-child {
    background-color: unset !important;

    border-bottom: dashed 1px rgb(142, 139, 139) !important;
    font-size: unset !important;
  }
  li:hover {
    color: rgb(232, 214, 20) !important;
    cursor: pointer;
  }
}

.menu-children-admin {
  transition: all ease 0.4s;
  height: 0;
}
.menu-children-admin-active {
  transition: all ease 0.4s;
  height: 402px;
  li {
    cursor: pointer;
  }
}
.admin-container {
  position: relative;
  margin-bottom: 60px;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px rgb(142, 139, 139);
  min-height: 86vh;
  .loading {
    top: 70px;
  }
  .title {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 40px;
    color: #fff;
    background-color: rgb(83, 82, 82);
  }
}
.admin-container-content {
  margin: 0;
  img {
    padding: 15px 0;
    min-height: 130px;
    max-width: 220px;
    max-height: 250px;
    object-fit: cover;
    margin: auto;
  }
  th:first-child,
  td:first-child {
    width: 50px;
  }

  th,
  td {
    text-align: center;
    width: 120px;
  }
  th:nth-child(2),
  td:nth-child(2) {
    width: 260px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 260px;
  }
}
.delete {
  position: relative;
  button {
    min-width: 80px;
  }
}
.confirm {
  z-index: 10;
  width: 200%;
  position: absolute;
  top: 50%;
  left: -100%;
  background-color: #9d9d9d;
  padding-bottom: 15px;

  transform: translateY(-50%);
  .confirm-title {
    color: #fff;
    padding: 10px;
  }
  .btn-confirm {
    display: flex;
    justify-content: center;
  }
  .confirm-sellect {
    margin-left: 15px;
  }
  button:hover {
    background-color: #1976d2;
    color: #fff;
  }
}

// Modals
.modal-modal-description {
  justify-content: center;
}
.modals-image {
  border: solid 1px #ccc;
}
.btn-add-image,
.modal-save {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
  button {
    margin-left: 30px;
  }
}
.image-title {
  margin-bottom: 10px !important;
}
#modal-modal-description {
  .row {
    justify-content: center;
  }
}
.modals-image {
  max-height: 300px;
  min-height: 300px;
  object-fit: contain;
}
.modal-save {
  position: relative;
}
.add-success {
  position: absolute;
  top: 30px;
  margin-top: 10px !important;
  color: rgb(53, 22, 226);
  text-align: center;
}
.btn-active {
  background-color: #000;
  color: #fff;
}

@keyframes header__notify-growth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
